# Python Basics

## Basic Arithmatic Operations

In [1]:
4+5   # Arithmatic Operations

9

In [2]:
9-7 # Substraction Operations

2

In [3]:
9*8 # Multiplication Operations

72

In [4]:
21 / 5 # Division Operations

4.2

In [5]:
21 // 5 #Floor Operations

4

In [6]:
10**2 # Exponentiation Operations

100

In [7]:
21 % 5 # Modulus Opertaions(It will return Rreminder value)

1

# Built-in data types in Python

- int
- float
- string

In [8]:
x=10

In [9]:
type(x)

int

In [10]:
y=10.5
type(y)

float

In [12]:
z='Hello World'
type(z)

str

In [13]:
type(True)   #in-built python keyword

bool

In [16]:
p=-9
type(p)

int

# Type Conversion 

## we can convert Numbers type from one type to another

In [14]:
x=5 # int
y=2.3 # float

In [15]:
# convert from int to float
a=float(x)


# convert from float to int
b=int(y)

print(a)
print(b)

type(a)
type(b)

5.0
2

int

# Typecasting

In [27]:
# Convert into Integers:

x=int(1)
y=int(4.3)
z=int('7')

print(x)
print(y)
print(z)

1
4
7

In [28]:
# Convert into float

x=float(1)
y=float(6.7)
z=float("4")

print(x)
print(y)
print(z)

1.0
6.7
4.0

In [29]:
# convert into string

x=str("1")
y=str('7.8')
z=str('a1')

print(x)
print(y)
print(z)

1
7.8
a1

# Creating variables

In [30]:
x=9
y=3.5
z="hello"

print(x)
print(y)
print(z)

9
3.5
hello

In [31]:
x,y,z = 9,3.5,"hello"

print(x)
print(y)
print(z)

9
3.5
hello

In [32]:
x="hello"
y="world"
z=x+y
print(z)

helloworld

In [33]:
x=5
y=9
z=x+y
print(z)

14

In [34]:
# we can not concatenate str with int

x="hello"
y=5
z=x+y
print(z)

TypeError: can only concatenate str (not "int") to str

# Strings

In [35]:
x="hello"
y='hello'
print(x)
print(y)

hello
hello

In [36]:
a=""" Hello World! ,
Welcome in python learning,
Hope you will enjoy"""

print(a)

 Hello World! ,
Welcome in python learning,
Hope you will enjoy

In [37]:
a='''Hello World! ,
Welcome in python learning,
Hope you will enjoy''' 
print(a)

Hello World! ,
Welcome in python learning,
Hope you will enjoy

In [48]:
# to get the first character in your string and string will start with 0

a="Pratiksha Kamble  "

print(a[5])

k

In [39]:
print(a[10])

K

In [40]:
print(a[5:9]) # slicing

ksha

In [49]:
# to get string length(it will return a length including white spaces)
len(a)

18

In [42]:
#to return a string from start
print(a[:5])

Prati

In [43]:
#to get the string till end
print(a[3:])

tiksha Kamble

In [44]:
# to UPPER CASE
print(a.upper())

PRATIKSHA KAMBLE

In [45]:
# to lower case
print(a.lower())

pratiksha kamble

In [46]:
# to Title Case
print(a.title())

Pratiksha Kamble

In [50]:
# remove white spaces from your string
print(a.strip())

Pratiksha Kamble

In [51]:
print(a.replace('P','J'))

Jratiksha Kamble

In [53]:
print(a.split(","))

['Pratiksha Kamble  ']

In [56]:
# to add space between two strings
a="hello"
b="world"
c=a+" "+b
print(c)

hello world

In [58]:
# concatenate two strings
a="Pratiksha"
b="Kamble"
c=a+b
print(c)

PratikshaKamble

# How to use ".format{}" in string

In [65]:
print("My name is" +" "+a)

My name is Pratiksha

In [71]:
name = "pratiksha"
age= 26

name_age ="My name is {} and my age is {}"
print(name_age.format(name,age))

My name is pratiksha and my age is 26

In [72]:
print("my name is {} and my age is {}".format(name,age))

my name is pratiksha and my age is 26

In [74]:
print("My name is {name} and my age is {age}".format(name="Apeksha",age=23)) # Named indexes

My name is Apeksha and my age is 23

In [77]:
# To use escape characters

a="I live in \"Thane\".\nMy hobbies are doing dance workout."
print(a)

I live in "Thane".
My hobbies are doing dance workout.

# User Input

In [83]:
a= input("Enter your username :")
b= input("Enter your age :")
c=input("Enter your location :")
print("Username is :" + a , "\nAge is :" +b ,"\nLocation is:" +c)

Enter your username :pratiksha
Enter your age :26
Enter your location :thane
Username is :pratiksha
Age is :26
Location is:thane

In [84]:
age = int(input("Please enter your age"))
print(age)
type(age)

Please enter your age26
26

int