# Set
#### Sets are used to store multiple items in a single variable.

#### A set is a collection which is both unordered and unindexed.

#### Sets are written with curly brackets.

In [6]:
myset = {"a","b","c","d","d"} # Set items are unordered, unchangeable, and do not allow duplicate values.

In [7]:
type(myset)

set

In [8]:
myset

{'a', 'b', 'c', 'd'}

# Unordered
#### Unordered means that the items in a set do not have a defined order.

#### Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
##### Sets are unchangeable, meaning that we cannot change the items after the set has been created.

##### Once a set is created, you cannot change its items, but you can add new items.

# Duplicates Not Allowed
#### Sets cannot have two items with the same value.

In [9]:
# set can contain different data types

set = {1,2,3,4,"apple","mango","orange","kiwi"}

In [10]:
set

{1, 2, 3, 4, 'apple', 'kiwi', 'mango', 'orange'}

In [11]:
# Access the set items

for x in set :
    print(x)

1
2
3
4
apple
kiwi
mango
orange

# Add items in set

### Once a set is created, you cannot change its items, but you can add new items.Â¶

In [12]:
set.add("banana")

In [16]:
print(set)

{1, 2, 3, 4, 'banana', 'apple', 'kiwi', 'mango', 'orange'}

# Add Sets
#### To add items from another set into the current set, use the update() method.

In [17]:
myset.update(set)

In [18]:
print(myset)

{'b', 1, 2, 3, 'a', 4, 'banana', 'd', 'apple', 'kiwi', 'mango', 'orange', 'c'}

In [27]:
set1 =["aaa","bbbb","ccc"]
set2 = {1,2,3,4}

In [28]:
set2.update(set1)

In [29]:
print(set2)

{1, 2, 3, 4, 'aaa', 'ccc', 'bbbb'}

In [30]:
set2.remove(1)
set2.discard("ccc")

In [31]:
set2

{2, 3, 4, 'aaa', 'bbbb'}

##### Note : You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

In [32]:
set2.pop()

2

In [33]:
set2

{3, 4, 'aaa', 'bbbb'}

### The del keyword will delete the set completely:

In [34]:
del myset

In [35]:
myset

NameError: name 'myset' is not defined

In [36]:
for x in set2:
    print(x)

3
4
aaa
bbbb

# Join Sets

In [59]:
x={1,2,4}

In [60]:
y={"apple",4,"mango"}

In [61]:
print(x)
print(y)

{1, 2, 4}
{'mango', 'apple', 4}

In [62]:
type(x)
type(y)

set

In [63]:
y.add("banana")

In [64]:
print(y)

{'banana', 'mango', 'apple', 4}

In [66]:
x.union(y)

{1, 2, 4, 'apple', 'banana', 'mango'}

In [67]:
x.update(y)

In [68]:
x

{1, 2, 4, 'apple', 'banana', 'mango'}

In [77]:
car = {"indigo","maruti","Audi"}
mixdiv = {1,"Audi",2,7,"indigo"}

In [79]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

z = car.intersection(mixdiv)
print(z)

{'indigo', 'Audi'}

In [80]:
# The intersection_update() method will keep only the items that are present in both sets.

car.intersection_update(mixdiv)

In [81]:
print(car)

{'indigo', 'Audi'}

In [84]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

car = {"indigo","maruti","Audi"}
mixdiv = {1,"Audi",2,7,"indigo"}

car.symmetric_difference_update(mixdiv)
print(car)

{1, 2, 7, 'maruti'}

In [90]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

car = {"indigo","maruti","Audi"}
mixdiv = {1,"Audi",2,7,"indigo"}

In [91]:
z = car.symmetric_difference(mixdiv)
print(z)

{1, 2, 'maruti', 7}

In [95]:
car = {"indigo","maruti","Audi"}
mixdiv = {1,"Audi",2,7,"indigo"}
car = mixdiv.copy()
car

{1, 2, 7, 'Audi', 'indigo'}